.all-coins-container {
    text-align: center;
  }
  
  .all-coins-title {
    font-size: 2rem;
  }
  
  .all-coins-subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .all-coins-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
    font-family: Arial, sans-serif;
  }
  
  .all-coins-row:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .all-coins-row td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
  }
  
  .all-coins-image {
    width: 2rem;
    margin-right: 0.5rem;
  }
  
  .all-coins-positive {
    color: green
  }